<%= link_to 'Добавить', new_admin_greeting_path, :remote => true %>

<table>
  <tr>
    <th>Текст</th>
    <th>&nbsp;</th>
  </tr>
  <% @greetings.each do |greeting| %>
  <tr>
    <td> <%= greeting.text %> </td>
    <td>
      <%= link_to 'Редактировать', edit_admin_greeting_path(greeting), :remote => true %>
      <%= link_to 'Удалить', delete_admin_greeting_path(greeting), :remote => true, :confirm => 'Не передумали удалять?', :method => :delete %>
    </td>
  </tr>
  <% end %>
</table>
