var regexp_email = /^[A-Za-z0-9_\-]+$/;

<% if logged_in? %>
  sHtml  = '<div class="alert-message success">';
  sHtml += '  <strong><%= I18n.t('user.login.done') %></strong><br/>';
  sHtml += '</div>';

  $('#form-login').html(sHtml);
  $('#modal-login').modal('hide');

  window.location = '/profile'
<% else %>
  if ($('#modal-login').css('display') == 'none') { 
    $('#modal-login #form-login  #email_name').val($('#form-fast-login  #email_name').val());
    $('#modal-login #form-login  #password').val($('#form-fast-login  #password').val());
    $('#modal-login').modal('show');
  }

  $('#modal-login #form-login #form-error').addClass('alert-message error');
  $('#modal-login #form-login #form-error').html('<strong><%= I18n.t('error') %></strong> <%= I18n.t('user.login.error') %>');

  if ($('#modal-login #form-login  #email_name').val() == '') {
    $('#modal-login #form-login #input-email-name').addClass('error')
    $('#modal-login #form-login #input-email-name .help-inline').html('Введите e-mail или имя персонажа');
  } else
    if(regexp_email.test($('#modal-login #form-login  #email_name').val()) == false) {
      $('#modal-login #form-login #input-email-name').addClass('error');
      $('#modal-login #form-login #input-email-name .help-inline').html('Введите корректное имя \\ e-mail ');
    } else {
      $('#modal-login #form-login #input-email-name').removeClass('error');
      $('#modal-login #form-login #input-email-name .help-inline').html('');
    }

  if ($('#modal-login #form-login  #password').val() == '') {
    $('#modal-login #form-login #input-password').addClass('error')
    $('#modal-login #form-login #input-password .help-inline').html('Введите пароль');
  } else
    if($('#modal-login #form-login  #password').val().length < 3) {
      $('#modal-login #form-login #input-password').addClass('error');
      $('#modal-login #form-login #input-password .help-inline').html('Пароль не может быть короче трех символов');
    } else {
      $('#modal-login #form-login #input-password').removeClass('error');
      $('#modal-login #form-login #input-password .help-inline').html('');
    }
<% end %>