<div class="container-fluid">

  <div class="sidebar">
    <ul>
      <li><%= link_to 'Задания', quests_admin_path, :remote => true %></li>
      <li><%= link_to 'Пользователи', users_admin_path, :remote => true %></li>
    </ul>
  </div>

  <div class="content">
  </div>

</div>
