<div class="topbar-wrapper">
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">CheckPoint</a>
        <ul class="nav">
          <li class="active"><a href="#">Об игре</a></li>
          <li><a href="#">Карта</a></li>
          <li><a href="#">Команда</a></li>
        </ul>
        <%= render 'fast_login_form' %>
      </div>
    </div>
  </div>
</div>
