  <div id="menu">
    <ul>
      <li><a menu-item-id="1" href="#" onclick="menu_click(115, 1); return false;">Вход</a></li>
      <li><a menu-item-id="2" href="#" onclick="menu_click(-21, 4); return false;">Регистрация</a></li>
      <li><a menu-item-id="3" href="#" onclick="menu_click(0); return false;">Восстановление</a></li>
      <li><a menu-item-id="4" href="#" onclick="menu_click(20); return false;">Карта</a></li>
      <li><a menu-item-id="5" href="#" onclick="menu_click(20); return false;">Статистика</a></li>
      <li><a menu-item-id="6" href="#" onclick="menu_click(20); return false;">Об игре</a></li>
    </ul>
  </div>
</div>

<div id="content">
  <div class="column col-first">

    <div color-item-id="1" class="widget-border">
      <div class="widget-content">
        <%= render 'login_form' %>
      </div>
    </div>

  </div>

  <div class="column">

    <div color-item-id="2" class="widget-border">
      <div class="widget-content">
        Об игре
      </div>
    </div>

  </div>

  <div class="column col-third">

    <div color-item-id="3" class="widget-border">
      <div class="widget-content">
        <%= render 'forgot_password_form' %>
      </div>
    </div>

    <div color-item-id="4" class="widget-border">
      <div class="widget-content">
        <%= render 'register_form' %>
      </div>
    </div>

  </div>
  
</div>
