<div class="navigation">
  <ul >
    <li>Вход</li>
    <li>Регистрация</li>
  </ul>
</div>

<div class="content">
  <div class="navigation-page">
    <div class="form-border">
        <%= render 'login_form' %>
    </div>
  </div>

  <div class="navigation-page">
    <div class="form-border">
        <%= render 'register_form' %>
    </div>
  </div>
</div>
