.quest_list {
  width: 75%;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.quest_list th {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  background-color: #888;
}

.quest_list tr {
  border-color: white;
  border-width: 1px;
  border-style: solid;
}
