.user_list {
  width: 65%;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.user_list th {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  background-color: #888;
}

.user_list tr {
  border-color: white;
  border-width: 1px;
  border-style: solid;
}
