/*= require_self
 *= require_tree . */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-size: 100%
  vertical-align: baseline
  background: transparent
  font-family: 'CalibriRegular', Arial, Helvetica, sans-serif
  font-size: 12px

table
  border-collapse: collapse
  border-spacing: 0

body
  background: #161616

label
  cursor: pointer

.blue
  background: #36b3db

.purple
  background: #3d1b7b
  
.green
  background: #74cd1d

.orange
  background: #dc7e19

.yellow
  background: #dcd119

.pink
  background: #df2e9a

#wrapper
  margin: 0 auto
  width: 1000px

#header
  position: fixed
  top: 0
  width: 1000px
  height: 100px
  z-index: 2
  background: #161616
  border-bottom: 1px solid #535353
  
#logo
  float: left
  width: 350px
  height: 100px
  background: image-url('logo.png') 0 0 no-repeat

#top-line
  float: right
  width: 650px
  height: 50px

#menu
  float: right
  width: 650px
  height: 50px

#menu ul
  margin-top: 15px
  float: right
  padding: 0

#menu li
  display: block
  float: left

#menu li a
  font-size: 11px
  font-weight: bold
  color: #fff
  text-decoration: none
  padding: 20px 16px 20px 16px

#menu li a:hover  
  background: #74cd1d

#menu li a.active
  color: #333

#content
  margin-top: 115px
  width: 1000px

.column
  float: left
  width: 323px

.col-first
  margin-right: 15px
  
.col-third
  margin-left: 15px
  
.widget-border
  padding: 10px
  margin-bottom: 15px

.widget-content
  padding: 10px
  background: #fff
