dt
  margin-bottom: 5px

dd
  margin-bottom: 15px

.form-border
  padding: 15px
  background: #74cd1d
  border-radius: 10px

.form-login
  background: #fff
  padding: 30px 50px
  width: 260px

.form-login .login-input
  height: 15px
  width: 245px
  border: 1px solid #b2b2b2
  padding: 4px 5px 3px 5px

.form-login .login-input:focus
  border-color: #1575c7

.form-login .login-line
  margin-bottom: 15px

.form-login .login-line a
  float: right

.form-login .big-g-button:hover
  background-position: 0 -45px

.form-login .big-g-button:active
  background-position: 0 -90px
  padding: 0

.form-login .big-g-button
  width: 260px
  height: 45px
  background: image-url('big-g-button.png') no-repeat
  border: 0
  text-align: center
  color: white
  text-shadow: 0px 1px 1px #B28224
  font-size: 23px
  cursor: pointer
  line-height: 45px
