dt
  margin-bottom: 5px

dd
  margin-bottom: 15px

.form
  background: #fff
  padding: 20px 10px

.form .form-input
  height: 15px
  width: 245px
  border: 1px solid #b2b2b2
  padding: 4px 5px 3px 5px

.form .form-input:focus
  border-color: #1575c7

.form .form-error
  color: #666

.form .form-error span
  color: red

.form .form-line
  margin-bottom: 15px

.form .form-line a
  float: right

.form .big-button
  width: 260px
  height: 45px
  border: 0
  text-align: center
  color: #777
  font-size: 23px
  cursor: pointer
  line-height: 45px
  background: #dfdfdf

.form .anim-button:hover
  background: #bfbfbf

.form .anim-button:active
  position: relative
  top: 2px
