<!DOCTYPE html>
<html>
<head>
  <title>Antientropy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="logo"></div>
    <div id="top-line"></div>
  
  <%= yield %>

  <div class="footer"></div>
</div>
</body>
</html>
